neote-tag {
  font-family: system-ui, sans-serif;
  display: inline-flex;
  align-items: baseline;
  position: relative;
  padding-inline: 6px;
  border-radius: 15px;
  background: hsl(var(--hue-color) 50% 90% / 100%);
  color: hsl(var(--hue-color) 100% 20% / 100%);
  font-weight: 700;

  &::before {
    content: "";
    display: inline-block;
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    background: currentColor;
    width: 16px;
    height: 16px;
    margin-inline-end: 0px;
    align-self: center;
    margin-inline-end: 4px;
  }
}
